wandb
tqdm
ipdb
pyyaml
moviepy==1.0.3
wandb==0.14.0
av==10.0.0
flax==0.6.1
chex==0.1.6
gcsfs==2022.7.1
tensorflow_cpu==2.11.0
tensorflow_datasets==4.8.3
tensorflow_io==0.31.0
tensorflow_gan==2.1.0
tensorflow_probability==0.19.0
tensorflow_hub==0.13.0
lpips_jax==0.1.0
numpy
internetarchive
gdown
tensorstore==0.1.33
gin-config